body{
    height: 1080px;
    width: 100%;
    padding: 0;
    margin: 0;
}






.chatting_choose{
    height: 600px;
    width: 400px;
   
   }
   
   .chatting_title{
       height: 10%;
       border-bottom: 1px solid black;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 2rem;
       font-weight: bold;
   }
   
   .chatting_body{
       height: 90%;
     
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   .chatting_body button{
   
       height: 60%;
       width: 600%;
       background-color: #7A87FF;
       font-weight: bold;
       font-size: 2rem;
        margin-right: 8%;
        margin-left: 8%;
       border-radius: 10%;
       border: none;
   
   }
   
   #all_chat{
   
       background-color: #FFDE30;
   }

   /* ////////////////////////////////////////////////////////////////// */

   main{

    display: flex;
  
   }


/* //////////////////////////////// */
/* 사이드 */
/* 사이드 */
@media screen and (max-width: 900px) {
    aside {
        display: none; /* 화면이 작아지면 사이드바를 감춘다 */
    }

    main {
        margin-left: 0; /* 사이드바가 없으므로 여백을 없앤다 */
        width: 100%; /* 전체 너비로 확장 */
    }
}



aside{
    height: 600px;
    width: 8%;
    float: left;
    min-width: 200px;
    position: fixed;
    z-index: 2;
    margin-top:8%;
    }
    
    .menu{
    
        display: flex;
        flex-direction: column;
        height: 60%;
    
    
    }
    
    .menu>a{
        display: flex;
       
        flex: 1;
        font-size: 2rem;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
    
    .login_block{
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
    #login{
    
        width: 200px;
        height: 100px;
        background-color: #42B0FF;
        border-radius: 50px;
        margin-bottom: 30%;
        font-size: 2rem;
        border: none;
    
    }


/* //////////////////////// */
   main .chatting_choose{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
   

   }
