body{
    width: 100%;
    height: 1080px;
    margin: 0; 
    padding: 0; 
}

button,a {
    cursor: pointer;
    
}




/* 채팅창 */

main{

    height: 80%;
    display: flex;
    margin-left: 10%;
}


main>.mainSide{

    width: 10%;
    background-color: #D7F0FF;
}


.main_chat{

width: 90%;

}


.main_view{

    height: 80%;
}

.main_chat>div:nth-child(2){
    height: 20%;
    background-color: #D1D2EC;
}




input{

    height: 70px;
    width: 70%;
    margin-right: 5%;
    border-radius: 10px;
    border: none;
}


#submit{
    padding-top: 1%;
    border: none;
    background-color: #D1D2EC;

}



/* 돌아가기 버튼////// */

#back{
    background-color: #FFEF5C;
    border:none;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin: 500px 0 0 20px;
    border-radius: 15px;


}



/* ///////////////////////////////////// */

  /* //////////////////////////////////// */
    /* 채팅 창 */

    .display-chatting {
        width: 100%;
        height: 100%;
        overflow: auto;
        list-style: none;
        padding: 10px 10px;
    }
    
    .display-chatting > li{
        margin: 10px 0;
    }
    
    .target-chat{
        display: flex;
        align-items: flex-start;
    }
   
    
    .chat {
        display: inline-block;
        border-radius: 5px;
        background-color: #FEFFE5;
        text-align: left;
        max-width: 1000px;
        word-break: break-all;
        white-space: pre-wrap;
    }
    
    
  #pro{

    height: 80px;
    width: 80px;
    border-radius: 50px;

  }
  
  
  
  
  
   .send-contanier{
	      display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

	  
  }