<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체채팅방</title>
	<link rel="stylesheet" th:href="@{/css/chatting/chatting_room.css}">
	<script src="https://kit.fontawesome.com/69a462bb6c.js" crossorigin="anonymous"></script>

</head>
<body>
	
		<th:block th:replace="~{common/headerChatting}">헤드</th:block>

	    <th:block th:replace="~{common/leftSide}">사이드바</th:block>

        <main>
            <div class="mainSide"></div>
            <div class="main_chat">
                  <span>메세지</span>
                <div class="main_view">
			         <ul class="display-chatting" id="messageArea">
                            <li class="target-chat">
                                <img id="pro" src="images/5e0d9f011a9ad2738de6.jpg">
        
                                <div>
                                    <b>닉네임</b><br>
                                    <p class="chat">
                                    </p>
                                    <span class="chatDate">14:05</span>
                                </div>
                            </li>
                        </ul>	    
                </div>
                <div clas="main_comment">
                   <form>
                        <input type="text" id="message" class="content">
                        <button type="button"  onclick="sendMessage()">
                            <img src="images/fePaperPlane0.png">
                        </button>
            		</form>
                </div>
            </div>
            <div class="mainSide">
                <button onclick="history.back()" id="back">돌아가기</button>
            </div>
        </main>

</body>


   <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        const socket = new SockJS('/chat');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, frame => {
            stompClient.subscribe('/topic/publicChatRoom', message => {
                showMessage(JSON.parse(message.body).content);
            });
        });

          function sendMessage() {
	   		const messageInput = document.getElementById('message');
	        const message = messageInput.value.trim();
	        if (message !== '') {
	            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify({ content: message }));
	            messageInput.value = '';
	        }
        }

         function showMessage(message) {
        const messageArea = document.getElementById('messageArea');
        const li = document.createElement('li');
        li.appendChild(document.createTextNode(message.sender + ": " + message.content)); // 메시지 표시
        messageArea.appendChild(li);
        	}
            
    

    </script>



</html>