<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방</title>
    <link rel="stylesheet" th:href="@{/css/chatting/chatting_group.css}">
</head>
<body>
    <header>
        <div onclick="window.location.href='/'" class="title1">Surfing</div>
        <div class="title2">
            <div>성북컴퓨터</div>
            <div class="nowPepole">현재인원:</div>
            <div id="memberNoDiv" th:data-member-no="${memberNo}"></div>
            <div id="memberNoDivv" th:data-member-name="${memberName}"></div>
        </div>
    </header>

        <aside>
          
            <div class="search_room">
                <div>채팅방검색</div>
                <form>
                    <input type="text"> 
                    <button><img src="images/Rectangle 112.png"></button>
                </form>
            </div>
            <div class="room_list"> 
                <label>채팅방 목록</label>

	                <ul id="room-list">
					    <li th:each="room : ${roomList}" th:attr="room-no=${room.roomNo}">
					        <img th:src="${room.roomImg}">
					        <div class="message_imform">
					            <b class="message_pe" th:text="${room.roomName}">이름</b>
					            <span class="chatDate" th:text="${room.time}">시간</span>
					            <div class="last_message" th:text="${room.chattingMessage}">
					                마지막 메세지
					            </div>
					        </div>
					    </li>
					</ul>

            </div>
            
        </aside>

        <main>
            <div class="mainSide"></div>
            <div class="main_chat">
                <div class="main_view">
                   <ul class="display-chatting"  id="messageArea">
                            <li class="target-chat" >
							</li>
                    </ul>	


                </div>
                <div clas="main_comment">
                    <form>
                        <input type="text" id="message">
                        <button type="button" id="submit" onclick="sendMessage()">
                            <img src="images/fePaperPlane0.png">
                        </button>
                    </form>
                </div>
            </div>
            <div class="mainSide">
                <button onclick="history.back()" id="back">돌아가기</button>
                <button th:onclick="location.href='/chatting/roomSetting'">설정</button>
            </div>
        </main>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/chatting/chatting_group.js}"></script>


</html>