<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹채팅선택</title>
    <link rel="stylesheet" th:href="@{/css/chatting/group_setting.css}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/69a462bb6c.js" crossorigin="anonymous"></script>
</head>
<body>
	   <th:block th:replace="~{common/header}">헤드</th:block>	
	
	   <th:block th:replace="~{common/leftSide}">사이드바</th:block>



    <main>
        <div class="tag_container">
            <div class="tag-chose">
                <label class="tag-title">그룹 선택</label>
                <ul class="tag-list">
                    <li class="tag-li">서울</li>
                    <li class="tag-li">경기도</li>
                    <li class="tag-li">강원도</li>
                    <li class="tag-li">충청도</li>
                    <li class="tag-li">경상도</li> 
                    <li class="tag-li">전라도</li>
                    <li class="tag-li">제주도</li>
                    <li class="tag-li">10대</li>
                    <li class="tag-li">20대</li>
                    <li class="tag-li">30대</li>
                    <li class="tag-li">40대</li>
                    <li class="tag-li">50대</li>
                    <li class="tag-li">취미</li>
                    <li class="tag-li">친목</li>
                    <li class="tag-li">공부</li>
                    <li class="tag-li">봉사</li>
                    <li class="tag-li">만남</li>
                    <li class="tag-li">종교</li>
                </ul>
            </div>


            <!-- 숨겨진 컨텐츠 버튼 누르면 나옴 (아직 안 만듦) -->
            <!-- 누를시 tag-result에 담김 -->
            
            <div class="tag-result">
                <input type="text" id="tag-box" placeholder="#그룹을 추가하고 검색하세요">
                <button onclick="searchRoom()">검색</button>
                <button class="cleanTag">지우기</button>
            </div>
        </div>

        <div class="room_container">
            <div>
                <button class="make-room" onclick="location.href='/chatting/roomMaking'">만들기</button>
                <select class="general-room" onchange="changeRoomList(this.value)">
                 	<option value="fastest">최근순</option>
                    <option value="memberCount">멤버순</option>
                    <option value="mostPopular">인기순</option>
                </select>
            </div>
            <div class="room-main">
                <ul class="room-list" id="roomList">
                    <li class="room-li" th:each="room:${roomList}">
                        <div class="room-img">
                              <img th:src="${room.roomImg != null ? room.roomImg : '/common/images/profile/profile.jpg'}">
                        </div>
                        <div class="room-title" th:text="${room.roomName}">채팅방이름</div>
                        <div class="room-headCount">정원:[[${room.roomPersonnel}]]/회원수:[[${room.memberCount}]]</div>
                        <div class="room-signUp">
                            <div th:if="${room.roomPwd}">비공개</div>
                            <div th:unless="${room.roomPwd}">공개</div>
                            <button th:data-room-no="${room.roomNo}" th:data-room-pwd="${room.roomPwd}" onclick="join(this)">가입</button>
                        </div>
                        <div class="room-chatNum">일주일동안 54개 채팅수</div>
                        <div class="room-tag" th:text="${room.tagName}">태그이름들</div>
                        <div class="room-introduce" th:text="${room.roomIntrudece}">소개</div>
                        
                    </li>
           <!--         <li class="room-li">
                        <div class="room-img">
                            <img src="images/5e0d9f011a9ad2738de6.jpg"> 
                        </div>
                        <div class="room-title">성북컴퓨터</div>
                        <div class="room-headCount">13명</div>
                        <div class="room-signUp">
                            <div>공개</div>
                            <button>가입</button>
                        </div>
                        <div class="room-chatNum">일주일동안 54개 채팅수</div>
                        <div class="room-tag">#컴퓨터</div>
                        <div class="room-introduce">안녕하세요</div>
                        
                    </li>
                 -->
                    <li class="room-li"></li>
                    <li class="room-li"></li>
                </ul>
            </div>  
        </div>
        
    </main>
</body>


    <script th:src="@{/js/chatting/group_setting.js}"></script>
    
    
</html>