<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방설정</title>
    <link rel="stylesheet" th:href="@{/css/chatting/room_setting.css}">
    <script src="https://kit.fontawesome.com/69a462bb6c.js" crossorigin="anonymous"></script>

</head>
<body>
    
		<th:block th:replace="~{common/headerChatting}">헤드</th:block>

  
    	<th:block th:replace="~{common/leftSide}">사이드바</th:block>


    <main>
        <div class="setting">
            <div class="setting_title">설정</div>
            <div class="setting_contents">
                <div class="content-1">
                   <form th:action="@{/RoomMaking/update}" method="POST" id="roomMaking" th:object="${inputChatting}" enctype="multipart/form-data">
                <div class="group_choose">
                    <label for="tagsInput">채팅방 그룹</label>
                    <div class="group_con">
                        <button id="tag-btn" type="button">그룹 선택</button> 
                        <input readonly type="text" id="tagsInput" name="tagName" placeholder="5개까지 가능합니다" th:field="*{tagName}">
                        <button type="button" class="cleanTag">지우기</button>
                    </div>
                </div>
                <div class="modal-overlay" id="modal-overlay">
                    <div class="tag-container" id="tag-container">
                        <div class="tagList">
                            <span class="close">&times;</span>
                            <ul class="firstList">
                                <li>
                                    <a onclick="showListItem(0)" >지역</a>
                                    <span>(7)</span>
                                </li>
                                <li>
                                    <a onclick="showListItem(1)">나이</a>
                                    <span>(5)</span>
                                </li>
                                <li>
                                    <a onclick="showListItem(2)">목적</a>
                                    <span>(5)</span>
                                </li>
                            </ul>
                        </div> 
                        <input class="other-inputs" id="displayTagsInput" readonly type="text"placeholder="5개까지 가능합니다">
                        <button type="button" class="cleanTag">지우기</button>
                        <div class="tagList-detail">
                            <ul class="secondList">
                                <li class="list-item">
                                    <div class="detail-tiem">서울</div>
                                    <div class="detail-tiem">경기도</div>
                                    <div class="detail-tiem">강원도</div>
                                    <div class="detail-tiem">충청도</div>
                                    <div class="detail-tiem">경상도</div>
                                    <div class="detail-tiem">전라도</div>
                                    <div class="detail-tiem">제주도</div>
                                </li>
                                <li class="list-item">
                                    <div class="detail-tiem">10대</div>
                                    <div class="detail-tiem">20대</div>
                                    <div class="detail-tiem">30대</div>
                                    <div class="detail-tiem">40대</div>
                                    <div class="detail-tiem">50대</div>
                                </li>
                                <li class="list-item">
                                    <div class="detail-tiem">취미</div>
                                    <div class="detail-tiem">친목</div>
                                    <div class="detail-tiem">공부</div>
                                    <div class="detail-tiem">봉사</div>
                                    <div class="detail-tiem">만남</div>
                                </li>
                            </ul>
                        </div> 
                    </div>
                 </div>

                <div class="public_or_not">
        
                        <label>공개여부</label>
                        <div>
                            <input id="public" type="checkbox" class="public" style="display: none;" value="public" th:checked="${inputChatting.roomPwd == null}"></input>
                            <label for="public" class="custom-checkbox">공개</label>

                            <input id="private" type="checkbox" class="public" style="display: none;" value="private" th:checked="${inputChatting.roomPwd != null}"></input>
                            <label for="private" class="custom-checkbox">비공개</label>
                            <input type="password" id="roomPw" name="roomPwd" placeholder="비밀번호(4자리~8자리)" th:field="*{roomPwd}" maxlength="8" autoComplete="off"  style="display: none; float: inline-end;" >
                        </div>
                </div>
                <div class="pepole_limit">
                    <label>인원제한</label>
                    <div>
                        <input type="number" name="roomPersonnel" min="2" max="10" id="pepole_limit" placeholder="3~10" th:field="*{roomPersonnel}">
                   		<span class="validationError" th:if="${#fields.hasErrors('roomPersonnel')}" th:errors="*{roomPersonnel}">ddddd</span>
                   		<span></span>
                    </div>
                </div>
                <div class="room_name">
                    <label for="room_name">채팅방이름</label>
                    <div>
                        <input type="text" id="room_name" name="roomName" th:field="*{roomName}" placeholder="채팅방 이름을 입력해주세요">
                  		<span class="validationError" th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}">dd</span>
                    </div>
                </div>
                <div class="room_introduce">
                    <label for="room_introduce">채팅방소개</label>
                    <div>
                        <textarea id="room_introduce" name="roomIntrudece" rows="4" cols="50" placeholder="채팅방을 소개해주세요" th:field="*{roomIntrudece}"></textarea>
                    </div>
                </div>

                <div class="invite">
                    
                    <div class="fileUpload">
                        <label for="roomImg">프로필 이미지 선택 </label>
                        <input id="roomImg" type="file" name="roomImgFile" accept="image/jpeg,image/jpg,image/png" onchange="image(this)" >
                        <img id="preview" th:src="*{roomImg}" />
                    </div>
                </div>
                <ul th:if="${errors != null}">
  				  <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
				</ul>

                <div class="last_button">
                    <button type="submit">수정하기</button>
                    <button type="button" th:onclick="history.back()">돌아가기</button>
                    <input type="hidden" name="roomNo" id="roomNoInput">
                </div>
            </form>
                </div>
                
                <div class="content-2">
                   <div class="now_people">현재 참여 인원</div>
                   <div class="now_people_main">
                     <div class="now_people_content">
                        <ul id="np-ul">
                            <li th:each="member:${memberList}" class="np-list" th:attr="data-member-no=${member.memberNo}">
								<img  id="np-img" th:src="${member.profileImage != null ? member.profileImage : '/common/images/profile/profile.jpg'}">
                                <div id="np-id" th:text="${member.memberNickname}">닉네임</div>
                                <input type="checkbox" class="memberCheckbox">
                            </li> 
                        </ul>
                     </div>
                     <div class="now_people_button">
                        <button onclick="authorizeManger()">방장넘기기</button>
                        <button onclick="kickMembers()">강퇴</button>
                     </div>
                   </div>
                </div>
            </div>
        </div>
    </main>

    <!-- <input placeholder="닉네임을 입력해주세요">
    <ul class="user_invite">
        <li>
            <img src="images/5e0d9f011a9ad2738de6.jpg">
            <div>닉네임</div>
            <div></div>
        </li>
    </ul> -->
     <script th:src="@{/js/chatting/room_setting.js}"></script>



</body>
</html>