<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 개인 채팅 -->

<mapper namespace="team.gsk.project.chatting.model.dao.ChattingMapper">
	
	
	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberTel" column="MEMBER_PHONE" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberIntro" column="MEMBER_INTRO" />
		<result property="profileImage" column="MEMBER_PROFILE" />		
		<result property="coverImage" column="MEMBER_COVER_IMG" />		
		<result property="enrollDate" column="MEMBER_ENROLL_DATE" />
		<result property="deleteFlag" column="MEMBER_DELETE_FLAG" />
		<result property="authority" column="AUTHORITY" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
	</resultMap>
	
	<resultMap type="ChatRoomList" id="roomList_rm">
			<result property="roomNo" column="ROOM_NO"/>
			<result property="roomName" column="ROOM_NAME"/>
			<result property="roomImg" column="ROOM_IMG"/>
			<result property="sender" column="SENDER"/>
			<result property="chattingMessage" column="MESSAGE_SUBSTR" />
			<result property="time" column="TIME" />
	</resultMap>
	
	
	<!--채팅 초대 찾기-->
	<select id="selectTarget" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PROFILE FROM "MEMBER"
		WHERE (MEMBER_EMAIL LIKE '%${query}%' OR MEMBER_NICKNAME LIKE '%${query}%')
		AND MEMBER_DELETE_FLAG = 'N'
		AND MEMBER_NO != ${memberNo}
	</select>
	
	
	<!--회원의 채팅방 리스트 찾기-->
	<select id="selectRoomList"  resultMap="roomList_rm">
	SELECT ROOM.ROOM_NO, ROOM.ROOM_NAME,ROOM.ROOM_IMG,CHATTING.SENDER, DBMS_LOB.SUBSTR(CHATTING.MESSAGE, 4000) AS MESSAGE_SUBSTR, CHATTING.TIME
		FROM MEMBER MEM
		JOIN MEMBER_ROOM_NO MRN ON MEM.MEMBER_NO = MRN.MEMBER_NO 
		JOIN ROOM_GROUP ROOM ON MRN.ROOM_NO = ROOM.ROOM_NO 
		LEFT JOIN (
		    SELECT ROOM_NO, SENDER, MESSAGE, TIME
		    FROM (
		        SELECT ROOM_NO, SENDER, MESSAGE, TIME,
		               ROW_NUMBER() OVER (PARTITION BY ROOM_NO ORDER BY TIME DESC) AS rn
		        FROM CHATTING_MESSAGE
		    ) CM
		    WHERE CM.rn = 1
		) CHATTING ON ROOM.ROOM_NO = CHATTING.ROOM_NO
		WHERE MEM.MEMBER_NO = #{memberNo}
	</select>

</mapper>


