<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace를 Mapper 인터페이스로 지정 -->
<mapper namespace="team.gsk.project.chatting.model.dao.RoomMakingMapper">
	
	<resultMap type="Chatting" id="chatting_rm">
		<result property="roomNo" column="ROOM_NO" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomIntrudece" column="ROOM_INTRUDECE" />
		<result property="roomPersonnel" column="ROOM_PERSONNEL" />
		<result property="roomManager" column="ROOM_MANAGER" />	
		<result property="roomPwd" column="ROOM_PWD" />		
		<result property="roomImg" column="ROOM_IMG" />
		<result property="tagName" column="TAG_NAME" />
		
		<!--해소테이블 컬럼-->
		<result property="memberNo" column="MEMBER_NO" />
		<result property="tagNo" column="TAG_NO" />
		
		<result property="memberCount" column="MEMBER_COUNT"/>
	</resultMap>
	
	
		<resultMap type="Chatting" id="tag_rm">
				<result property="tagNo" column="TAG_NO" />
		</resultMap>
	
	
		<resultMap type="Member" id="member_rm">
			<result property="memberNo" column="MEMBER_NO" />	
			<result property="memberNickname" column="MEMBER_NICKNAME" />	
			<result property="profileImage" column="MEMBER_PROFILE" />	
		</resultMap>
	
	
	<!--채팅방 만들기-->
	<insert id="roomMaking" >
		INSERT INTO ROOM_GROUP (ROOM_NO,ROOM_NAME,ROOM_INTRUDECE,ROOM_PERSONNEL,
		ROOM_MANAGER,ROOM_PWD,ROOM_IMG) VALUES
		(ROOM_NO_SEQ.NEXTVAL,#{roomName},#{roomIntrudece},#{roomPersonnel},#{roomManager},#{roomPwd},#{roomImg})
	</insert>
	
	<!--만들어진 채팅방 번호 가져오기 -->
	<select id="roomNumber" >
		SELECT ROOM_NO_SEQ.CURRVAL FROM DUAL
	</select>
		
	<!--태그 번호 찾기-->
<!--	<select id="tagNumber" parameterType="java.util.List" >
	    SELECT TAG_NO FROM ROOM_TAG WHERE TAG_NAME IN
	    <foreach collection='array' index="index" item="item" open="(" separator="," close=")">
	           #{item}
	    </foreach>
	</select>-->

	<!--태그 넣기 -->
	<insert id="addTag" parameterType="java.util.List">
    	<foreach collection="list" item="item" index="index" open="INSERT ALL " separator=" " close="SELECT * FROM DUAL">
	        INTO TAG_ROOM_NO (ROOM_NO, TAG_NO)
	        VALUES
	        (#{item.roomNo},(SELECT TAG_NO FROM ROOM_TAG WHERE TAG_NAME=#{item.tagName})
	        )
	    </foreach>
	</insert>
	
	
	<!--방장 넣기-->
	<insert id="addMember">
		INSERT INTO MEMBER_ROOM_NO mrn (ROOM_NO,MEMBER_NO) VALUES(#{roomNo},#{memberNo})
	</insert>
	
	<!--채팅방 찾기-->
	<select id="findRoom" resultMap="chatting_rm">
		SELECT rg.*, COALESCE(mrn_count.count, 0) AS MEMBER_COUNT FROM ROOM_GROUP rg LEFT JOIN (SELECT ROOM_NO, COUNT(MEMBER_NO) AS count FROM MEMBER_ROOM_NO GROUP BY ROOM_NO ) mrn_count
		ON mrn_count.ROOM_NO= rg.ROOM_NO
		ORDER BY MEMBER_COUNT DESC
	</select>
	
	<!--채팅방 태그찾기-->
	<select id="findRoomTag">
		SELECT rt.TAG_NAME  FROM TAG_ROOM_NO trn INNER JOIN ROOM_TAG rt ON rt.TAG_NO = trn.TAG_NO WHERE ROOM_NO = #{roomNo}
	</select>	
	
	
	<!--회원 채팅방 가입-->
	<insert id="insertMemberRoom">
		INSERT INTO MEMBER_ROOM_NO (ROOM_NO, MEMBER_NO)
		SELECT #{roomNo}, #{memberNo} FROM DUAL
		WHERE NOT EXISTS (
    		SELECT 1 FROM MEMBER_ROOM_NO WHERE ROOM_NO = #{roomNo} AND MEMBER_NO = #{memberNo}
			)
	</insert>
	
	
	<!--채팅방 설정을 위해 다시 찾기-->
	<select id="refindRoom" resultMap="chatting_rm">
		SELECT 
		    RG.ROOM_NO,RG.ROOM_NAME,RG.ROOM_INTRUDECE,ROOM_PERSONNEL,ROOM_MANAGER,ROOM_PWD,ROOM_IMG, 
		    LISTAGG(RT.TAG_NAME, ', ') WITHIN GROUP (ORDER BY RT.TAG_NAME) AS TAG_NAME
		FROM 
		    ROOM_GROUP RG
		LEFT JOIN 
		    TAG_ROOM_NO TRN ON RG.ROOM_NO = TRN.ROOM_NO
		LEFT JOIN 
		    ROOM_TAG RT ON TRN.TAG_NO = RT.TAG_NO
		WHERE 
		    RG.ROOM_NO =#{roomNo}
		GROUP BY 
    		RG.ROOM_NO,RG.ROOM_NAME,RG.ROOM_INTRUDECE,ROOM_PERSONNEL,ROOM_MANAGER,ROOM_PWD,ROOM_IMG
	</select>
	
	
	<!--채팅방 회원 다시 찾기(방장빼고)-->
	<select id="refindMember" resultMap="member_rm">
		SELECT mrn.MEMBER_NO,m.MEMBER_NICKNAME,m.MEMBER_PROFILE 
		FROM MEMBER_ROOM_NO mrn 
		LEFT JOIN ROOM_GROUP rg ON mrn.ROOM_NO = rg.ROOM_NO
		LEFT JOIN "MEMBER" m ON m.MEMBER_NO = mrn.MEMBER_NO
		WHERE mrn.ROOM_NO = #{roomNo}
		AND mrn.MEMBER_NO != rg.ROOM_MANAGER
	</select>
	
	
	<!--강퇴-->
	<delete id="kickMembers" parameterType="map">
		DELETE FROM MEMBER_ROOM_NO
		WHERE ROOM_NO = #{roomNo}
    	AND MEMBER_NO IN
	    <foreach item="member" collection="selectedMembers" open="(" separator="," close=")">
	      #{member}
	    </foreach>
	</delete>
	
	<!--방장 찾기-->
	<select id="findManger">
		SELECT ROOM_MANAGER FROM ROOM_GROUP WHERE ROOM_NO =#{roomNo} 
	</select>
	
	<!--방장 넘기기-->
	<update id="authorizeManger" parameterType="map">
		UPDATE ROOM_GROUP SET ROOM_MANAGER = #{member} WHERE ROOM_NO = #{roomNo}
	</update>
	
	<!--채팅방 수정-->
	<update id="updateRoom">
		UPDATE ROOM_GROUP SET 
			ROOM_NAME = #{roomName}, 
		    ROOM_INTRUDECE = #{roomIntrudece}, 
		    ROOM_PERSONNEL = #{roomPersonnel}, 
		    ROOM_PWD = #{roomPwd}, 
		    ROOM_IMG = #{roomImg}
		WHERE ROOM_NO = #{roomNo}
	</update>
				
</mapper>

