<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모달 창</title>
    <link rel="stylesheet" th:href="@{/css/member/modal2.css}">
</head>
<body>

	<div class="modal2">
		<div class="modal_body">

			<div class="modalBodyTitle">비밀번호 변경</div>
			<div class="modalBodyContent">
				<h2 id="pw_value"></h2>
			</div>
			<div class="modal_foot">
				<button type="button" id="back_btn2">
					돌아가기
				</button>
			</div>
		</div>
	</div>


</body>
</html>