<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모달 창</title>
    <link rel="stylesheet" th:href="@{/css/member/modal.css}">
</head>
<body>

	<div class="modal">
		<div class="modal_body">

			<div class="modalBodyTitle">아이디 찾기</div>
			<div class="modalBodyContent">
				<h2 id="id_value"></h2>
			</div>
			<button type="button" id="back_btn" class="btn peach-gradient btn-rounded waves-effect">
			<i class="fa fa-envelope"></i>돌아가기</button>
		</div>
	</div>
-------------------------------------------------------------------------
<!--		<div id="loginPopupModalContainer" class="hidden">

	<section id="main-container">
        
         <section id="pw-info">
            <div class="margin"></div>
            
            <div id="logo-pw-section">
                <img src="/resources/img/common/main/로고.png">
                
                <section id="pw-section">
                    <p>회원님의 아이디는</p>
                    <p>' ${id} ' 입니다.</p>
                </section>
                
                <a href="/"><button id="toHomeBtn">홈으로</button></a>
            
            </div>
            
            <div class="margin"></div>
        </section>
        
    </section>
    
   </div>
-->
-----------------------------------------------------------------------	
</body>
</html>