<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디/비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/member/searchIdPw.css}">
</head>
<body>
    <div id="logos">
        <img id="logo" th:src="@{/images/20231114115318_93362.png}">
        <p id="name">Surfing</p>
    </div>

    <div id="searchTitle">
        <p id="searchIdPw">아이디 찾기/비밀번호 변경</P>
        <hr id="headHr">
    </div>

    <section id="side">
		<form id="idForm">
			
        	<div id="leftSide">
				
           		<div id="idTitleBox">
               		<p id="idTitle">아이디 찾기</p>        
           		</div>
            
	            <fieldset id="searchId">
	
	                <div id="inputBox">
						
						<label id="labelBox" for="idForPhone">
	                        <input type="radio" id="idForPhone" value="idForPhone" name="searchGroup" checked> 전화번호
	                    </label>
						
	                    <dl>
	                        <dt id="idFirstDt">
	                            <input type="text" placeholder="이름">
	                        </dt>
	                        <dt id="idSecondDt">
	                            <input type="text" placeholder="전화번호">
	                            <button type="button" id="sendAuth">인증번호 받기</button>
	                        </dt>
	                        <dd id="idFristDd">
	                            <input type="text" placeholder="인증번호">
	                            <button type="button" id="checkAuth">인증번호 확인</button>
	                        </dd>
	                    </dl>
	                    
	                    <button id="searchBtn">찾기</button>
	                        
	                </div>
	
	        
	                <hr id="inputHr">           
	                    
	                    <div id="inputBox">
							
	                            <label id="labelBox" for="idForEmail">
	                                <input type="radio" id="idForEmail" value="idForEmail" name="searchGroup"> 이메일
	                            </label>
	                        
	                        <dl>
	                            <dt id="idFirstDt">
	                                <input type="text" placeholder="이름">
	                            </dt>
	
	                            <dt id="idSecondDt">
	                                <input type="text" placeholder="이메일">
	                                <button type="button">인증번호 받기</button>
	                            </dt>
	
	                            <dd id="idFristDd">
	                                <input type="text" placeholder="인증번호">
	                                <button type="button">인증번호 확인</button>
	                            </dd>
	                        </dl>
	                        
	                        <button id="searchBtn">찾기</button>
	                        
	                    </div>
	
	            </fieldset>
            
            
        </div>
    
        <div id="rightSide">
            <div id="idTitleBox">
                <p id="pwTitle">비밀번호 변경</p>
                
            </div>
            
  
                <fieldset id="searchId">
                    
                   
                    <div id="inputBox">
						
	                        <label id="labelBox" for="pwForPhone">
	                            <input type="radio" id="pwForPhone" value="pwForPhone" name="searchGroup"> 전화번호
	                        </label>
                        
                        <dl>
                            <dt id="idFirstDt">
                                <input type="text" placeholder="이름">
                            </dt>

                            <dt id="idSecondDt">
                                <input type="text" placeholder="전화번호">
                                <button type="button">인증번호 받기</button>
                            </dt>

                            <dd id="idFristDd">
                                <input type="text" placeholder="인증번호">
                                <button type="button">인증번호 확인</button>
                            </dd>
                        </dl>
                        
                        <button id="searchBtn">찾기</button>
                        
                    </div>                    
            
                    <hr id="inputHr">                   
                   
                    <div id="inputBox">
						
                        <label id="labelBox" for="pwForEmail">
                            <input type="radio" id="pwForEmail" value="pwForEmail" name="searchGroup"> 이메일
                        </label>
                        
                        <dl>
                            <dt id="idFirstDt">
                                <input type="text" placeholder="이름">
                            </dt>

                            <dt id="idSecondDt">
                                <input type="text" placeholder="이메일">
                                <button type="button">인증번호 받기</button>
                            </dt>

                            <dd id="idFristDd">
                                <input type="text" placeholder="인증번호">
                                <button type="button">인증번호 확인</button>
                            </dd>
                        </dl>
                        
                        <button id="searchBtn">찾기</button>
                        
                    </div>
                    
                    
                </fieldset>
            </form>
        </div>
    </section>
    <div id="back">
        <a th:href="@{/loginPage}" id="backBtn">돌아가기</a>
    </div>

	<script th:src="@{/js/member/searchIdPw.js}"></script>
</body>
</html>