<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>follow_page</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" integrity="sha384-hWO6mIzRdutQzLZ5a+W8VGdL5WS3I5Xw2yyU7j60paz+1XS0b1TE1l5U0Gpqm49b" crossorigin="anonymous">
    <script th:src="@{https://kit.fontawesome.com/69a462bb6c.js}" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/common/follow.css}">
</head>
<body>
	<th:block th:replace="~{common/header}"></th:block>

    <th:block th:replace="~{common/leftSide}"></th:block>

	<th:block th:replace="~{common/rightSide}"></th:block>
	
	<th:block th:if="${session.loginMember}">
	    <input type="hidden" id="H_memberId" th:value="${session.loginMember.memberId}">
	</th:block>
	

   <main>
        <div class="user_box">
            <hr class="hr1">
                <nav class="btn">
					
				    <button class="w-btn w-btn-gra2 w-btn-gra-anim" type="button" id="followBtn">
				        팔로워
				    </button>
					<button class="w-btn w-btn-gra2 w-btn-gra-anim" type="button" id="fingBtn">
				        팔로잉
				    </button>
                </nav>
            <hr>
            <div class="XXProfile">
					
			</div>
			<div class="TTProfile">
					
			</div>
			

        </div>

    </main>
    
	<script th:src="@{/js/common/follow.js}"></script>
    
</body>
</html>