<link rel="stylesheet" th:href="@{/css/common/header.css}">


<header>
        <div class="logo_img">
			<a th:href="@{/}">
	            <img th:src="@{/common/images/Rectangle110.png}" id="logo">			
			</a>
        </div>

        <a id="logo" th:href="@{/}">Surfing</a>

        <nav>
            <form action="#">
                <fieldset id="search">
                    <input id="search_id" type="search" placeholder="검색" >
                    <button>
                        <img th:src="@{/common/images/Rectangle112.png}" id="search_icon">
                    </button>
                </fieldset>
            </form>
        </nav>

        <div class="right_button">
            <div>
                <i id="bell" class="fa-solid fa-bell" style="color: #ffffff;"></i>
            </div>
            <div>
                <button class="w-btn-neon2" type="button">
                    업로드
                </button>
            </div>
        </div>
    </header>