<link rel="stylesheet" th:href="@{/css/main-style.css}">

<script th:src="@{https://kit.fontawesome.com/e5fede6c09.js}" crossorigin="anonymous"></script>

    <header>
        <a>
            <img src="images/Rectangle 110.png" id="logo">
            <div>Surping</div>
        </a>
        <nav>
            <form action="#">
                <fieldset id="search">
                    <input type="search" placeholder="검색" >
                    <button>
                        <img src="images/Rectangle 112.png" id="search_icon">
                    </button>
                </fieldset>
            </form>
        </nav>

        <div class="right_button">
            <div>
                <img src="images/알림 아이콘.png">
            </div>
            <div>
                <button id="upload">업로드</button>
            </div>
        </div>
    </header>
