<style>
	header{
    height: 100x;
    width: 100%;
    background-color: #BDBFF8;
    display: flex;

}


.title1{

    display: flex;
    width: 20%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;

}

.title2{

    display: flex;
    width: 80%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  
}

.nowPepole{

    margin-left: 10%;

}
	
	
</style>

 <header>
        <div onclick="window.location.href='/'" class="title1">Surfing</div>
        <div class="title2">
            <div>성북컴퓨터</div>
            <div class="nowPepole">현재인원:</div>
        </div>
    </header>