
<link rel="stylesheet" th:href="@{/css/common/leftSide.css}">

 <aside class="left">

        <div class="menu">
            <nav>
				<a th:href="@{/profile}">
            		<i id="sideIcon" class="fa-regular fa-user" style="color: #053d9e;"></i>					
				</a>
                <a>Profile</a>
            </nav>
            <nav>
				<a th:href="@{/follow}">
           	   	    <i id="sideIcon" class="fa-solid fa-user-group" style="color: #053d9e;"></i>					
				</a>
                <a>Follow</a>
            </nav>
            <nav>

                <a th:href="@{/chatting/chattinGroup}"><i id="sideIcon" class="fa-solid fa-envelope" style="color: #073e9c;"></i>Message</a>
            </nav>
            <nav>
               
                <a th:href="@{/chatting/chattingchoose}"> <i id="sideIcon" class="fa-regular fa-message" style="color: #1b4998;"></i>chatting</a>

            </nav>
            
        </div>
        <div class="login_block">
            <button class="w-btn w-btn-gra1" type="button">
                <a th:href="@{/loginPage}">로그인</a>
            </button>
        </div>
</aside>