<aside class="left">
        <div class="menu">
            <nav>
				<a th:href="@{/profile}">
            		<i id="sideIcon" class="fa-regular fa-user" style="color: #053d9e;"></i>					
				</a>
                <a>Profile</a>
            </nav>
            <nav>
				<a th:href="@{/follow}">
           	   	    <i id="sideIcon" class="fa-solid fa-user-group" style="color: #053d9e;"></i>					
				</a>
                <a>Follow</a>
            </nav>
            <nav>
				<a th:href="@{/message}">
	                <i id="sideIcon" class="fa-solid fa-envelope" style="color: #053d9e;"></i>				
				</a>
                <a>Message</a>
            </nav>
            <nav>
				<a th:href="@{/chatting}">
	                <i id="sideIcon" class="fa-regular fa-message" style="color: #053d9e;"></i>				
				</a>
                <a>chatting</a>
            </nav>
        </div>
        <div class="login_block">
            <button class="w-btn w-btn-gra1" type="button">
                로그인
            </button>
        </div>
</aside>