<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id." content="893429308195-ainarkgupantqhhdkio4edaptf8oenai.apps.googleusercontent.com">

    <title>로그인 화면</title>
    
    <link rel="stylesheet" th:href="@{/css/common/login.css}">

    <script th:src="@{https://apis.google.com/js/platform.js}" async defer></script>
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.6.0/kakao.min.js"
	  integrity="sha384-6MFdIr0zOira1CHQkedUqJVql0YtcZA1P0nbPrQYJXVJZUkTk/oX4U9GhUIs3/z8" crossorigin="anonymous">
	</script>
	<script>
	  Kakao.init('cd03e7df27c61fde0636c7ef01f9cb11'); // 사용하려는 앱의 JavaScript 키 입력
	</script>
	
</head>
<body>
    <header id="loginHeader">
        <p>Hello, friend. Welcome to surfing</p>
    </header>

    <section id="loginBody">

        <div id="leftSide">
            <img id="painting" th:src="@{/images/page/Rectangle 140.png}">
        </div>

        <div id="rightSide">
            <div id="loginBox">
                <div id="name">
                    <img id="logo" th:src="@{/common/images/20231114115318_93362.png}">
                    <h1><a th:href="@{/}">Surfing</a></h1>
                </div>
				 <form th:action="@{/member/login}" method="post" name="login-form" id="loginFrm">
	                <div id="idBox">
	
	                    <input id="inputId" type="text" name="memberId" placeholder="아이디 입력">
	
	                </div>
	
	                <div id="passwordBox">
	
	                    <input id="inputPw" type="password" name="memberPw" placeholder="비밀번호 입력">
	
	                </div>
	
	                <div id="loginBtnBox">
	
	                    <button id="loginBtn">log in</button>
	
	                </div>
				  </form>
                <div id="icon">
                    
                    
                    
					<!--<a class="g-signin2" data-onsuccess="onSignIn" th:href="@{http://localhost:8080/oauth2/authorization/google}"><img id="google" th:src="@{/images/flat-color-icons_google.png}"></a> -->
                    
                    <a class="g-signin2" th:href="@{/google/login}" data-clientid="893429308195-ainarkgupantqhhdkio4edaptf8oenai.apps.googleusercontent.com">
					    <img id="google" th:src="@{/images/page/flat-color-icons_google.png}">
					</a>
                  
                    <a id="kakao-login-btn" onclick="javascript:loginWithKakao()">
                    	<img id="kakaotalk" th:src="@{/images/page/simple-icons_kakaotalk.png}">
                    </a>
                    
                    <a href="#"><img id="facebook" th:src="@{/images/page/logos_facebook.png}"></a>
                </div>

                <div id="aBox">
                    <a th:href="@{/member/searchIdPw}" id="findIdPw" data-onsuccess="onSignIn">아이디/비밀번호 찾기</a> 
                    <a th:href="@{/member/signUp}" id="signUp">회원가입</a>
                </div>
                <button class="api-btn" onclick="requestUserInfo()" style="visibility:hidden">사용자 정보 가져오기</button>

            </div>
        </div>


    </section>

    <footer id="loginFooter">

    </footer>
    <script th:src="@{/js/common/login.js}"></script>
</body>
</html>