<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main_page</title>

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-hWO6mIzRdutQzLZ5a+W8VGdL5WS3I5Xw2yyU7j60paz+1XS0b1TE1l5U0Gpqm49b" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69a462bb6c.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <th:block th:replace="~{common/header}"></th:block>

    <th:block th:replace="~{common/leftSide}"></th:block>

	<th:block th:replace="~{common/rightSide}"></th:block>
    

    <main>
        <section class="main_body">
            <div class="user_box">
                <div class="user_post">
                    <div class="post">
                        <div class="post_head">
                            <div class="propile">
                                <img th:src="@{/common/images/555.jpg}">
                            </div>
                            <h1 id="user01" th:text="${session.loginMember.memberId}">user01</h1>
                        </div>
                        <div class="post_content"></div>
                    </div>
                    <div class="comment">
                        <div class="comment_left">
                            <i class="fa-solid fa-heart" id="heart" ></i>
                        </div>
                        <div class="comment_right">
                            <a>하트수</a>

                            <a>조회수</a>
                       
                            <a>댓글수</a>
                            <button class="commentBtn">댓글달기</button>
                        </div>
                    </div>
                </div>
        	</div>
        </section>
    </main>

    
</body>
</html>