<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 현재 HTML 문서에 타임리프 문법을 사용한다고 선언 -->
<head>
	<meta charset="UTF-8">
	<title>프로젝트</title>

</head>
<body>
	<main>

        <th:block th:replace="~{common/header}"></th:block>
        
	        <aside>
		        <div class="menu">
		            <a>프로필</a>
		            <a>팔로우</a>
		            <a>메세지</a>
		            <a>채팅</a>
		        </div>
		        <div class="login_block">
		            <button id="login">
		                 로그인 
		            </button>
		        </div>
	 	   </aside>



	<script th:src="@{/js/main.js}"></script>
	
</body>
</html>