<aside class="right">

        <h1 id="friend_name">같은 동네 유저</h1>
        <div class="friend_post">
            <nav class="friend">
                <li><a href="#">user01</a><a>서울 특별시</a></li>
                <li><a href="#">user02</a><a>서울 특별시</a></li>
                <li><a href="#">user03</a><a>서울 특별시</a></li>
                <li><a href="#">user01</a><a>서울 특별시</a></li>
                <li><a href="#">user02</a><a>서울 특별시</a></li>
                <li><a href="#">user03</a><a>서울 특별시</a></li>
            </nav>
        </div>
    </aside>