<aside class="right">
	

        <h1 id="friend_name">Mutual followers</h1>
        <div class="friend_post">
            <nav class="friend">
  				<li><a href="#">user01</a><a>message</a></li>
                <li><a href="#">user02</a><a>message</a></li>
                <li><a href="#">user03</a><a>message</a></li>
                <li><a href="#">user01</a><a>message</a></li>
                <li><a href="#">user02</a><a>message</a></li>
                <li><a href="#">user03</a><a>message</a></li>
            </nav>
        </div>
</aside>

<script th:src="@{/js/common/rightSide.js}"></script>