* {
	box-sizing: border-box;
	margin: 0;
}

.confirm{ color : green; }
.error{ color : red; }

body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	cursor: pointer;
}

label>input {
	width: 13px;
	height: 13px;
}

input {
	width: 200px;
	height: 30px;
	border-radius: 50px;
	border: 1px solid rgb(184, 184, 184);
	padding: 15px;
}

#logos {
	display: flex;
	align-items: center;
}

#logo {
	width: 80px;
	height: 80px;
	margin: 5px;

}

#name {
	font-size: 30px;
	font-weight: bold;

}

#searchIdPw {


	font-size: 27px;
	margin-top: 10px;
	margin-bottom: 10px;

}

#searchTitle {
	width: 65%;
	text-align: center;
}

#headHr {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-width: 2px;
}

#side {
	display: flex;
	justify-content: center;
}

#leftSide {
	width: 50%;
	margin-right: 10%;
}

#rightSide {
	width: 50%;

}

#idTitleBox {
	width: 60%;
}

#idTitle {
	width: 100%;
	font-size: 21px;
	margin: 10px;
	margin-left: 5%;
}

#idBox {
	text-align: center;
}

#idForm {
	display: flex;
	justify-content: center;
	margin: auto;
}

#radio {
	margin-top: 15px;

}


button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	border-radius: 5px;
	border: 0;
	background-color: #B2F1FF;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px gray;
}

.inputHr {
	width: auto;
}

#idForPhoneBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

#radioBox {
	display: flex;
	justify-content: start;
}

.labelBox {
	width: 90%;
	display: flex;
	justify-content: start;
	align-items: start;
}

.inputBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchId {
	width: auto;
	border-width: 2px;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.searchId div {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchId label {
	display: block;
	margin-bottom: 10px;
}

.idFirstDt {
	display: flex;
	margin: 10px;
}

.idSecondDt {
	display: flex;
	margin: 10px;
}

.idThirdDt {
	display: flex;
	margin: 10px;	
}

.idFristDd {
	display: flex;
	margin: 10px;
}

.searchBtn {
	width: 60px;
	height: 33px;
	margin: 20px;
	background-color: #6DE5FF;
	box-shadow: 1px 1px 1px 1px gray;
}


#pwTitle {
	width: 100%;
	font-size: 21px;
	margin: 10px;
	margin-left: 5%;
}

#pwForm {
	display: flex;
	justify-content: center;
	margin: auto;
}


#back {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 20px;
}

#backBtn {
	width: 150px;
	height: 50px;
	background-color: #ECFCFF;
	box-shadow: 1px 1px gray;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	border-radius: 5px;
	border: 0;
	background-color: #B2F1FF;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px gray;
	text-decoration: none;
	color: black;
}

#leftSide .inputBox,
#rightSide .inputBox {
	width: 350px;
	/* Adjust the width as needed */
	display: flex;
	flex-direction: column;
	align-items: center;

}
