body{
    height: 1080px;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: #000; /* 링크 색상 변경 */
}

    main{
        margin-left: 11%;
        width: 88%;
        height: 10000px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    .user_box {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 65%;
        margin-top: 100px;
        height: 10000px;
        margin-right: 250px;
    }
    
    #profileImage{
    height: 100%;
}

    hr {
        width: 100%;
        margin: 0;
        border: none; /* 기본 테두리 제거 */
        border-top: 1.5px solid black;
    }

    .hr1 {
        margin-top: 5%;
    }

    .btn {
        margin-left: 2%;
        width: auto;
        height: auto;
        padding: 0;
    }

    .fBtn {
        width: 180px;
        height: 55px;
        border: none;
        background-color: rgb(94, 111, 163);
        color: aliceblue;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 10px;
    }
    
    .XXProfile {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.TTProfile {
		display: flex;
		flex-direction: column;
	}
	
	
	.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}


.w-btn-gra2 {
    background: #e73c7e;
    color: white;
    /* 애니메이션 설정 */
    animation: colorChange 2s infinite alternate;
}

/* 색상 변환을 위한 애니메이션 키프레임 정의 */
@keyframes colorChange {
    0% {
        background: #e73c7e; /* 시작 색상 */
    }
    100% {
        background: #23d5ab; /* 종료 색상 */
    }
}


    
    .xProfile {
        display: flex;
        width: 100%;
    }

    .uProfile {
        width: 120px;
        height: 120px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        position: relative; /* 포지션을 상대적으로 변경합니다 */
        margin-left: 20%;
        margin-top: 2%;
    }
    
    .uProfile img {
        position: absolute; /* 포지션을 절대적으로 변경합니다 */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .FollowNav {
        width: 20%;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
    }

    .followNav> a:nth-child(1) {
        font-size: 22px;
    }

    .followNav> a:nth-child(2) {
        font-size: 19px;
    }


    .followNav {
        display: flex;
        font-weight: bolder;
        color: #1a4b5c;
    }


    .FollowNav > a {
        margin-top: 45px;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 550;
        
    }
    
    