body{
    height: 1080px;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: #000; /* 링크 색상 변경 */
}


.logo_img {
    width: 5%;
    height: 90%;
    border-radius: 100%;
    margin-left: 9%;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.logo_img a {
    display: inline-block; /* <a> 요소를 블록 요소로 변경하여 가운데 정렬합니다 */
}


.logo_img img {
    width: 140px; /* 원하는 가로 너비로 설정 */
    height: auto; /* 세로 크기를 자동 조정하여 비율 유지 */
}

#logoText {
	margin: 0;
}




button {
    cursor: pointer;
    box-shadow: 0px 3px 3px grey;
    
}

header {
    position: fixed;
    height: 80px;
    display: flex;
    background: linear-gradient(-100deg, #ff99cc 0%, #33ccff 100%);
    margin: 0;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(163, 162, 170);
    border-top: none;
    z-index: 2;
}

header>a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    cursor: pointer;
    font-size: 30px
}

#bell {
    font-size: 48px;
    
}




/* 검색창 */
nav{
    width: 80%;
    padding-top: 1%;
    border: none; 

}

nav>form{

    align-items: center;
    justify-content: center;
    display: flex;
    

}


#search{
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
}

#search_id {
    border: 1px solid #a5a1a1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60%;
    outline: none;
    font-size: 1rem;
    border-radius: 20px;
    padding: 2% 6%;
    font-weight: bold;
    border: none;
}


/*input{
    width: 100%;
    height: 60%;
    outline: none;
    font-size: 1rem;
    border-radius: 20px;
    padding: 2% 6%;
    font-weight: bold;
    border: none;

}*/

#search>button{
    position: absolute;
    border: none;
    outline: none;
    background: none;
    margin-left: 90%;
    box-shadow: 0px 0px 0px;


}


.right_button{
    width: 20%;
    display: flex;
    margin-right: 5%;
}


.right_button>div{
    
    flex: 1;
 
    display: flex;
    align-items: center;
    justify-content: left;



   
}

header>div>div:nth-child(1){

    align-items: center;


}


#upload {
    height: 70%;
    width: 100px;
    font-size: 1.3rem;
    border: 1px solid #b5b6b8;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 스타일 조절 */
}

.w-btn-neon2 {
    position: relative;
    border: none;
    height: 70%;
    width: 180px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    font-weight: 700;
    transition: 0.9s;
    font-size: 1.3rem;
}

.w-btn-neon2:hover {
    transform: scale(1.2);
}

.w-btn-neon2::after {
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* 초기에는 원이 표시되지 않도록 설정 */
    transition: transform 1s ease-out, opacity 1s ease-out;
    opacity: 1; /* 호버 시 원 표시 */
}

.w-btn-neon2:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0; /* 호버 시 투명도 조정 */
}



/* 검색 버튼 이미지 */
#search_icon{

    height: 30px;

}


/*-------------------------------------------------------------------*/


.modal {
  display: none; /* 기본적으로 모달은 숨김 상태 */
  position: fixed; /* 고정 위치 */
  z-index: 1; /* 화면 상의 가장 위로 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}



.modal-content {
    background-color: #fefefe;
	margin-top: 2%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    margin-left: 8.5%;
}

.modelPostContent{
	width: 95.5%;
	height: 600px;
	border: 1px solid rgb(0, 0, 128);
	border-radius: 30px;
	padding: 2%;
	overflow-y: auto;
}

.bottomModel {
	display: flex;
}




.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(69, 131, 186);
    border-radius: 5px;
    height: 10%;
    width: 4%;
}

#cfu {
	margin-left: 2%;
}


.xxx {
	margin-top: 0;
	width: 180px;
    height: 90px;
    font-size: 2rem;
    border-radius: 50px;
    border: none;
    background: linear-gradient(-1000deg, #33ccff 0%, #ff99cc 100%);
    color: white;
    margin-left: 70%;
}



/* 마우스 호버 시 색상 변경 */
.custom-file-upload:hover {
    background-color: rgb(61, 185, 194);
}







.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

