

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 1920px;
    height: 863px;
    margin: 0;
    padding: 0;
    position: relative;
}

#loginHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #009FFF;
    font-size: 21px;
    font-weight: bold;
}

#loginFooter {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
    background-color: #009FFF;
}

#loginBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F3FF;
}

#leftSide {
    display: flex;
    width: 50%;
    height: 100%;
}

#painting {
    width: 100%;
    height: 100%;
}

#rightSide {
    display: flex;
    width: 50%;
    justify-self: center;
    align-items: center;
}

#loginBox {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border-radius: 100%;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #009FFF;
}

#inputID {
    width: 268px;
    height: 38px;
    padding: 2px;
    margin: 5px;
    border: solid black 1px;
    border-radius: 5px;
}

#loginBtn {
    width: 268px;
    height: 38px;
    padding: 2px;
    margin: 5px;
    background-color: #B2F1FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#icon {
    display: flex;
    margin: 10px;
}

#google {
    margin-right: 20px;
}

#kakaotalk {
    margin-right: 20px;
}

#findIdPw {
    margin-right: 15px;
}

