body{
    height: 1080px;
    width: 100%;
    padding: 0;
    margin: 0;
}


    main{
        margin-top: 0;
        margin-left: 11%;
        width: 89%;
        height: 10000px;
        background-color: #F2F6FF;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    .my_page_top {
        margin-top: 5%;
        margin-left: 0;
        width: 95%;
        height: 900px;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #5c5959;
    }

    .top_img {
        width: 100%;
        height: 70%;
        border-radius: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain; 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.);
    }

    .top_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .propile_img {
        width: 220px;
        height: 220px;
        border-radius: 100%;
        margin-top: 1%;
        margin-left: 9%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;     
    }
    
    .propile_img img {
	    width: 140px; /* 원하는 가로 너비로 설정 */
	    height: auto; /* 세로 크기를 자동 조정하여 비율 유지 */
	}
    
    .propile {
        display: flex;
        align-items: center;
   
    }

    #user {
        font-weight: bolder; 
    }

    #fol {
        margin-left: 30%;
    }


    .propile>a {
        font-size: 40px;
        margin-left: 1%;
        font-weight: bolder;
    }

    .propile>p {
        font-size: 50px;
    }

    .Writing {
        position: relative;
        border: none;
        height: 120px;
        width: 300px;
        background: linear-gradient(
            90deg,
            rgba(129, 230, 217, 1) 0%,
            rgba(79, 209, 197, 1) 100%
        );
        border-radius: 90px;
        color: darkslategray;
        cursor: pointer;
        font-weight: none;
        transition: 0.9s;
        font-size: 50px;
    }
    
    .Writing:hover {
        transform: scale(1);
    }
    
    .Writing::after {
        content: "";
        width: 300px;
        height: 300px;
        border-radius: 100%;
        border: 3px solid #00ffcb;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); /* 초기에는 원이 표시되지 않도록 설정 */
        transition: transform 1s ease-out, opacity 1s ease-out;
        opacity: 1; /* 호버 시 원 표시 */
    }
    
    .Writing:hover::after {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0; /* 호버 시 투명도 조정 */
    }

    hr {
        border-bottom: 1px solid #807c7c;
        width: 95%;
        margin: 0;
    }

    /*main*/

    .user_boxMM {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        margin-top: 50px;
        height: auto;
    }

    .user_post {
        background-color: white;
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        min-width: 600px;
        border: 1px solid #dfdfdf;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
    }

    .post {
        width: 100%;
        height: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .post_head {
        width: 100%;
        height: 25%;
        display: flex;
        margin: 0;
    }

    .post_contentMM {
        height: 100%;
	    padding: 2%;
	    overflow: hidden;
    }
    
    .post_contentMM img {
	    max-width: 100%;
	    max-height: 100%;
	    display: block;
	}

    .propile_bottom {
        width: 10%;
        height: 90%;
        border-radius: 100%;
        margin-left: 3%;
        margin-top: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .propile_bottom img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
    }




    #user01MM {
        margin-top: 5%;
        margin-left: 2%;
        font-size: 35px;
        font-weight: 500;
    }

    .comment {
        width: 100%;
        height: 10%;
        background-color: #7791BA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comment_left {
        flex-basis: 15%;
    }

    .comment_right {
        flex-basis: 85%;
        display: flex;
        justify-content: flex-end;
    }


    .commentBtn {
        margin-left: 50px;
        margin-right: 30px;
        width: 130px;
        border-radius: 50px;
        border-width: 0;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        background-color: #DFE8FF;
        font-size: 20px;
        font-weight: 600;
    }

    #heart {
        margin-left: 25%;
        font-size: 65px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        color: #feb4b4;
    }

    #heart:hover {
        color: #ff0000;
    }

    .comment_right > a {
        margin-top: 10px; /* 탑 마진 설정 */
        margin-left: 20px;
    }
    
    .myFL {
		display: flex;
	}
	
	.myFL > a {
		font-weight: bold;
		font-size: 20px;
	}
	
	
	.followText {
		margin-left: 40px;
		margin-right: 10px;
	}
	

    
    
    /*--------------모달 관련 --------------------*/
    
  .modalMM {
  display: none; /* 기본적으로 모달은 숨김 상태 */
  position: fixed; /* 고정 위치 */
  z-index: 2; /* 화면 상의 가장 위로 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}



.modal-content {
    background-color: #fefefe;
	margin-top: 2%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    margin-left: 8.5%;
}

.modelPostContentMM{
	width: 95.5%;
	height: 600px;
	border: 1px solid rgb(0, 0, 128);
	border-radius: 30px;
	padding: 2%;
	overflow-y: auto;
}




.custom-file-uploadMM {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(69, 131, 186);
    border-radius: 5px;
    height: 10%;
    width: 4%;
}

#cfuMM {
	margin-left: 2%;
}


.xxxMM {
	margin-top: 0;
	width: 180px;
    height: 90px;
    font-size: 2rem;
    border-radius: 50px;
    border: none;
    background: linear-gradient(-1000deg, #33ccff 0%, #ff99cc 100%);
    color: white;
    margin-left: 70%;
}



/* 마우스 호버 시 색상 변경 */
.custom-file-uploadMM:hover {
    background-color: rgb(61, 185, 194);
}


.closeMM {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeMM:hover,
.closeMM:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*-------------------------------------------------*/
